/*
// Source - https://stackoverflow.com/a
// Posted by Pztar
// Retrieved 2025-12-09, License - CC BY-SA 3.0
*/
body {
    margin: 0;
}

.main-cont {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    
}

#btn-cont {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

@media screen and (min-height: 750px) and (max-height: 800px){ 
    #container {
        flex-direction: column;
        border: 2px solid black;
        width: var(--grid-width);
        height: var(--grid-height);
        margin-bottom: 32px;
    }

    .inner {
        /*flex*/
        display: flex;
        width: var(--cell-width);
        height: var(--cell-height);
        background-color: var(--grid-color);
        border: 1px solid gray;
    }

    .outer {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    #container {
        display: flex;
        justify-content: center;
        align-items: center;
    }
}

.footer {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
} 

#footer-icon {
    width: 16px; 
    height: 16px;
}
